{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-warning" role="alert">
        {% for message in messages %}
            {{ message }}<br>
        {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    {% for product in catalog %}
        <img src="{{ product.image }}" class="rounded float-left mr-5">
        <h3 class="text-left"><a href="{{ url_for('catalog.product', catalog_id=product.id) }}">{{ product.title }}</a></h3>
        <br>
        <p class="text-left">{{ product.price }}</p>
        <br><br><br><br><br>
        <hr />
    {% endfor %}
{% endblock %}